
.container {
    margin: 0;
}

.header {
    background-color: #fff;
    width: 100%;
}

header .container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header h2 {
    font-size: 30px;
    margin: 10px 30px 0;
    font-weight: bold;
    color: #eb2f06;
}

.header ul {
    display: flex;
    gap: 60px;
    margin-right: 70px;
}

.header li a {
    border-radius: 5px;
    display: block;
    color: #3c6382;
    text-decoration: none;
    font-weight: bold;
    margin-top: 13px;
}
