.header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    width: 100%;
    margin-bottom: 80px;
  }
  
  header .container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
  
  .header h2 {
    font-size: 30px;
    font-weight: bold;
    color: #eb2f06;
  }
  
  .header ul {
    display: flex;
    gap: 30px;
  }
  
  .header li a {
    border-radius: 5px;
    display: block;
    color: #3c6382;
    text-decoration: none;
    font-weight: bold;
  }
  